<!DOCTYPE>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app,js"></script>
    </head>

    <body>
        {{>header}}
        <p>{{errorMessage}}</p>
        {{>footer}}
    </body>
</html>
