<!DOCTYPE>

<html>
    <head>
      <link rel="stylesheet" href="/css/styles.css">
      <script src="/js/app,js"></script>
    </head>

    <body>
        {{>header}}
        <img src="/img/me.png">
        {{>footer}}
    </body>
</html>
