<!DOCTYPE html>

<html>

<head>
  <title>Weather</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">

<body>
  <div class="main-content">
    {{>header}}
    <p>Use this site to check your weather</p>

    <form action="submit">
      <input type="text" placeholder="Location">
      <button>Search</button>
    </form>

    <p id="location"></p>
    <p id="forecast"></p>

  </div>

  {{>footer}}
  <script src="/js/app.js"></script>
</body>

</html>